.navbar-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: 1200px;
  align-self: auto;
  align-items: center;
  flex-shrink: 1;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-fiveunits);
}
.navbar-text {
  color: var(--dl-color-primary-300);
  width: auto;
  font-size: 50px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  text-transform: capitalize;
  text-decoration: none;
}
.navbar-nav-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-nav-links {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  border-color: transparent;
}
.navbar-mobile-menu {
  gap: var(--dl-space-space-twounits);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  background-color: #fff;
}
.navbar-branding {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-image {
  width: 100px;
  filter: brightness(0) saturate(100%);
  object-fit: cover;
}
.navbar-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-icon {
  width: 24px;
  height: 24px;
}
.navbar-nav-links1 {
  gap: var(--dl-space-space-unit);
  color: var(--dl-color-gray-black);
  display: flex;
  flex-direction: column;
}
.navbar-text1 {
  color: rgba(255, 255, 255, 1);
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.navbar-navlink {
  display: contents;
}
.navbar-home {
  display: flex;
  text-decoration: none;
  background-color: #448cff;
}
.navbar-text2 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.navbar-navlink1 {
  display: contents;
}
.navbar-get-started1 {
  display: flex;
  text-decoration: none;
  background-color: #448cff;
}
.navbar-text3 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.navbar-navlink2 {
  display: contents;
}
.navbar-get-started2 {
  text-decoration: none;
  background-color: #2A2A2A;
}
.navbar-text4 {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}







@media(max-width: 991px) {
  .navbar-home {
    flex: 1;
  }
  .navbar-get-started1 {
    flex: 1;
  }
  .navbar-get-started2 {
    flex: 1;
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    width: 767px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .navbar-nav-links {
    display: none;
  }
  .navbar-branding {
    width: 100%;
  }
  .navbar-nav-links1 {
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .navbar-home {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .navbar-get-started1 {
    width: 83px;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .navbar-get-started2 {
    display: none;
  }
}

.phone-blog-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-background);
}
.phone-blog-text {
  color: var(--dl-color-gray-white);
  font-size: 30px;
  text-align: center;
  border-color: var(--dl-color-gray-black);
  border-width: 100px;
}
@media(max-width: 1200px) {
  .phone-blog-text {
    color: var(--dl-color-gray-900);
    font-size: 30px;
    text-align: center;
  }
  .phone-blog-text01 {
    font-size: 30px;
  }
  .phone-blog-text02 {
    font-size: 30px;
  }
  .phone-blog-text03 {
    font-size: 30px;
  }
  .phone-blog-text04 {
    font-size: 30px;
  }
  .phone-blog-text05 {
    font-size: 30px;
  }
  .phone-blog-text06 {
    font-size: 30px;
  }
  .phone-blog-text07 {
    font-size: 30px;
  }
  .phone-blog-text08 {
    font-size: 30px;
  }
  .phone-blog-text09 {
    font-size: 30px;
  }
  .phone-blog-text10 {
    font-size: 30px;
  }
  .phone-blog-text11 {
    font-size: 30px;
  }
  .phone-blog-text12 {
    font-size: 30px;
  }
  .phone-blog-text13 {
    font-size: 30px;
  }
  .phone-blog-text14 {
    font-size: 30px;
  }
  .phone-blog-text15 {
    font-size: 30px;
  }
  .phone-blog-text16 {
    font-size: 30px;
  }
  .phone-blog-text17 {
    font-size: 30px;
  }
  .phone-blog-text18 {
    font-size: 30px;
  }
  .phone-blog-text19 {
    font-size: 30px;
  }
  .phone-blog-text20 {
    font-size: 30px;
  }
  .phone-blog-text21 {
    font-size: 30px;
  }
  .phone-blog-text22 {
    font-size: 30px;
  }
  .phone-blog-text23 {
    font-size: 30px;
  }
  .phone-blog-text24 {
    font-size: 30px;
  }
  .phone-blog-text25 {
    font-size: 30px;
  }
  .phone-blog-text26 {
    font-size: 30px;
  }
}
@media(max-width: 991px) {
  .phone-blog-text {
    color: var(--dl-color-gray-900);
    font-size: 30px;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  .phone-blog-text01 {
    font-size: 30px;
  }
  .phone-blog-text02 {
    font-size: 30px;
  }
  .phone-blog-text03 {
    font-size: 30px;
  }
  .phone-blog-text04 {
    font-size: 30px;
  }
  .phone-blog-text05 {
    font-size: 30px;
  }
  .phone-blog-text06 {
    font-size: 30px;
  }
  .phone-blog-text07 {
    font-size: 30px;
  }
  .phone-blog-text08 {
    font-size: 30px;
  }
  .phone-blog-text09 {
    font-size: 30px;
  }
  .phone-blog-text10 {
    font-size: 30px;
  }
  .phone-blog-text11 {
    font-size: 30px;
  }
  .phone-blog-text12 {
    font-size: 30px;
  }
  .phone-blog-text13 {
    font-size: 30px;
  }
  .phone-blog-text14 {
    font-size: 30px;
  }
  .phone-blog-text15 {
    font-size: 30px;
  }
  .phone-blog-text16 {
    font-size: 30px;
  }
  .phone-blog-text17 {
    font-size: 30px;
  }
  .phone-blog-text18 {
    font-size: 30px;
  }
  .phone-blog-text19 {
    font-size: 30px;
  }
  .phone-blog-text20 {
    font-size: 30px;
  }
  .phone-blog-text21 {
    font-size: 30px;
  }
  .phone-blog-text22 {
    font-size: 30px;
  }
  .phone-blog-text23 {
    font-size: 30px;
  }
  .phone-blog-text24 {
    font-size: 30px;
  }
  .phone-blog-text25 {
    font-size: 30px;
  }
  .phone-blog-text26 {
    font-size: 30px;
  }
}
