<div>
  <link href="./article1.css" rel="stylesheet" />
  <section class="article1-card">
    <main class="article1-content">
      <header class="article1-header">
        <h1 class="article1-header1"><span>What am I?</span></h1>
      </header>
      <p class="article1-description">
        <span>This project determines if you are a turtle or a fish.</span>
      </p>
      <a href="turtle-or-fish-project.html" class="article1-navlink">
        <div class="article1-button">
          <p class="article1-text"><span>Read -></span></p>
        </div>
      </a>
    </main>
  </section>
</div>
