<div>
  <link href="./blog-post-card2.css" rel="stylesheet" />
  <div class="blog-post-card2-blog-post-card">
    <img
      src="public/playground_assets/adobestock_127268885-860x420-200h.jpeg"
      alt="image"
      class="blog-post-card2-image"
    />
    <div class="blog-post-card2-container">
      <div class="blog-post-card2-container1">
        <span class="blog-post-card2-text"><span>ENTERPRISE</span></span>
        <span class="blog-post-card2-text1"><span>3 days ago</span></span>
      </div>
      <h1 class="blog-post-card2-text2"><span>Phones in class</span></h1>
      <span class="blog-post-card2-text3">
        <span>
          The essay argues that cell phones should be allowed in classrooms
          because they can provide students with access to useful tools that
          would be expensive to obtain otherwise, help with communication
          between students, teachers, and parents, and enhance the enjoyment of
          education through various tools. Despite concerns about distraction,
          cheating, and cyberbullying, the author believes that proper guidance
          can address these issues. The essay emphasizes that cell phone use
          should be moderated and should not be mandatory, and that cell phones
          can make learning more enjoyable and informative.
        </span>
      </span>
      <div class="blog-post-card2-container2">
        <div class="blog-post-card2-profile">
          <img
            src="public/playground_assets/unnamed-200h.gif"
            alt="image"
            class="blog-post-card2-image1"
          />
          <span class="blog-post-card2-text4"><span>Yaseen Farag</span></span>
        </div>
        <a href="phone-blog.html" class="blog-post-card2-navlink">
          Read More -&gt;
        </a>
      </div>
    </div>
  </div>
</div>
