<div>
  <link href="./faq.css" rel="stylesheet" />
  <div class="faq-accordion">
    <div data-role="accordion-container" class="faq-element accordion-element">
      <div class="faq-details">
        <span class="faq-text">
          What is sit amet, consectetur adipiscing elit, sed do?
        </span>
        <span data-role="accordion-content" class="faq-text01">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id.
        </span>
      </div>
      <div data-role="accordion-icon">
        <svg viewBox="0 0 1024 1024" class="faq-icon">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div data-role="accordion-container" class="faq-element1 accordion-element">
      <div class="faq-details1">
        <span class="faq-text02">
          We&apos;ll update amet, consectetur adipiscing elit until you&apos;re
          100% happy.
        </span>
        <span data-role="accordion-content" class="faq-text03">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id.
        </span>
      </div>
      <div data-role="accordion-icon">
        <svg viewBox="0 0 1024 1024" class="faq-icon02">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div data-role="accordion-container" class="faq-element2 accordion-element">
      <div class="faq-details2">
        <span class="faq-text04">
          Is it really sit amet, consectetur adipiscing elit, sed do?
        </span>
        <span data-role="accordion-content" class="faq-text05">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id.
        </span>
      </div>
      <div data-role="accordion-icon">
        <svg viewBox="0 0 1024 1024" class="faq-icon04">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div data-role="accordion-container" class="faq-element3 accordion-element">
      <div class="faq-details3">
        <span class="faq-text06">
          We work, what is sit amet, consectetur adipiscing elit, sed do sint
          occaecat cupidatat non proident
        </span>
        <span data-role="accordion-content" class="faq-text07">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id.
        </span>
      </div>
      <div data-role="accordion-icon">
        <svg viewBox="0 0 1024 1024" class="faq-icon06">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div data-role="accordion-container" class="faq-element4 accordion-element">
      <div class="faq-details4">
        <span class="faq-text08">
          What is sit amet, consectetur adipiscing elit, sed do?
        </span>
        <span data-role="accordion-content" class="faq-text09">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id.
        </span>
      </div>
      <div data-role="accordion-icon">
        <svg viewBox="0 0 1024 1024" class="faq-icon08">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div data-role="accordion-container" class="faq-element5 accordion-element">
      <div class="faq-details5">
        <span class="faq-text10">
          Amet, consectetur adipiscing elit mollit anim id est laborum.
        </span>
        <span data-role="accordion-content" class="faq-text11">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id.
        </span>
      </div>
      <div data-role="accordion-icon">
        <svg viewBox="0 0 1024 1024" class="faq-icon10">
          <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
        </svg>
      </div>
    </div>
    <div class="faq-sidebar">
      <nav class="faq-nav">
        <svg viewBox="0 0 1024 1024" class="faq-icon12">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
        <span class="faq-text12">Dashboard</span>
        <span class="faq-text13">Calendar</span>
        <span class="faq-text14">Team</span>
        <span class="faq-text15">Documents</span>
        <span>Reports</span>
      </nav>
      <div class="faq-profile">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;h=1000"
          class="faq-image"
        />
        <div class="faq-container">
          <span class="faq-text17">John Doe</span>
          <span class="faq-text18">View Profile</span>
        </div>
      </div>
      <div class="faq-sidebar1">
        <nav class="faq-nav1">
          <svg viewBox="0 0 1024 1024" class="faq-icon14">
            <path
              d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
            ></path>
          </svg>
          <span class="faq-text19">Dashboard</span>
          <span class="faq-text20">Calendar</span>
          <span class="faq-text21">Team</span>
          <span class="faq-text22">Documents</span>
          <span>Reports</span>
        </nav>
        <div class="faq-profile1">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;h=1000"
            class="faq-image1"
          />
          <div class="faq-container1">
            <span class="faq-text24">John Doe</span>
            <span class="faq-text25">View Profile</span>
          </div>
        </div>
        <div class="faq-sidebar2">
          <nav class="faq-nav2">
            <svg viewBox="0 0 1024 1024" class="faq-icon16">
              <path
                d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
              ></path>
            </svg>
            <span class="faq-text26">Dashboard</span>
            <span class="faq-text27">Calendar</span>
            <span class="faq-text28">Team</span>
            <span class="faq-text29">Documents</span>
            <span>Reports</span>
          </nav>
          <div class="faq-profile2">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;h=1000"
              class="faq-image2"
            />
            <div class="faq-container2">
              <span class="faq-text31">John Doe</span>
              <span class="faq-text32">View Profile</span>
            </div>
          </div>
          <div class="faq-sidebar3">
            <nav class="faq-nav3">
              <svg viewBox="0 0 1024 1024" class="faq-icon18">
                <path
                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path>
              </svg>
              <span class="faq-text33">Dashboard</span>
              <span class="faq-text34">Calendar</span>
              <span class="faq-text35">Team</span>
              <span class="faq-text36">Documents</span>
              <span>Reports</span>
            </nav>
            <div class="faq-profile3">
              <img
                alt="image"
                src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;h=1000"
                class="faq-image3"
              />
              <div class="faq-container3">
                <span class="faq-text38">John Doe</span>
                <span class="faq-text39">View Profile</span>
              </div>
            </div>
            <div class="faq-sidebar4">
              <nav class="faq-nav4">
                <svg viewBox="0 0 1024 1024" class="faq-icon20">
                  <path
                    d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
                <span class="faq-text40">Dashboard</span>
                <span class="faq-text41">Calendar</span>
                <span class="faq-text42">Team</span>
                <span class="faq-text43">Documents</span>
                <span>Reports</span>
              </nav>
              <div class="faq-profile4">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;h=1000"
                  class="faq-image4"
                />
                <div class="faq-container4">
                  <span class="faq-text45">John Doe</span>
                  <span class="faq-text46">View Profile</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
